.top10 img {
  width: 20%;
  height: 50px;
  float: left;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.top10 a {
  color: #666;
  text-decoration: none;
}
.top10 a:hover {
  color: #040101;
  text-decoration: underline;
}
